.parallaxOne { 
    /* The image used */
    background-image: url("./openComp.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.nameHolder {
    display: flex;
    align-self: center;
    flex-direction: column; 
    margin-left: 2em; 
}

h1 {
    color: #333333;
}

h2 {
    color: #333333;
}

.parallaxTwo { 
    /* The image used */
    background-image: url("Screen\ Shot\ 2018-11-22\ at\ 2.00.38\ PM.png");

    /* Set a specific height */
    height: 500px;
    width: 100vw; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}